*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: hsl(215, 87%, 15%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-color: hsl(215, 85%, 33%);
    border-radius: 20px;
}
hr{
    width: 97%;
    margin-bottom: 10px;
    
}
.photo{
    width: 100%;
    height: 50%;
    background-image: url(./images/image-equilibrium.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;

}
img{
    width: 30px;
    height: 30px;
    border: solid 1px;
    border-color: azure;
    border-radius: 100%;
}
.deux{
    color: white;
}
.lebas{
    display: flex;
    justify-content: space-around;
    
    

}

.chiffres{
    display: flex;
    justify-content: space-between;
}
.a{
    display: flex;
    justify-content: center;
}
.b{
    display: flex;
    justify-content: center;
}
.pcouleur{
    color: rgb(9, 247, 247);
}
p{
    color: gray;
}
h3{
    color: white;
    font-family: Calibri;
}
.a p {
    padding-left: 5px;
}
.photo:hover{
        
}
span:hover{
    color: aquamarine;
}