@font-face {
    font-family:"police" ;
    src: url("./valentine_14/Be\ My\ Valentine.ttf");
}

body{
    background-color: rgba(255, 192, 222, 0.605);
    margin: 0 auto;
}
h1{
    font-family:"police";
    text-align: center;
}

.contenu {
    margin: 0 auto;
    width: 1000px;

}
.style{
    border: outset rgba(174, 5, 70, 0.139);
    padding: 20px 20px 20px 20px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}

.one{
text-align: center;
}
.two{
    text-align: center;
}
.three{
    text-align: center;
}
.four{
    text-align: center;
}
.five{
    text-align: center;
}
.six{
    text-align: center;
}
.seven{
    text-align: center;
}